.slider_one {
	width: 100%;
	height: 870px;
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/eu_xx_30th-anniversary_hero_r_04c26ec4.jpeg?region=0,0,3200,1372&width=2048');
}

.slider_two {
	width: 100%;
	height: 870px;
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/uk_xx_dcl-25th-anniversary_hero_r_v2_4cf7b8f1.jpeg?region=0,0,3200,1372&width=2048');
}

.slider_thre {
	width: 100%;
	height: 870px;
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/eu_ava-2_v1_hero_r_e48ad78f.jpeg?region=0,0,3200,1372');
}

.slider_button {
	display: flex;
	text-align: center;
	width: 250px;
	border-radius: 40px;
	height: 50px;
	text-transform: uppercase;
	font-weight: 700;
	justify-content: space-between;
	background-color: #ffffff;
	border-color: #ffffff;
	color: #000000;
}

.slider_button > a {
	margin: 20px 0px 0px 60px;
	text-align: center;
	color: #000000;
}
